
@media (width <= 768px){
.text{
    background-color:  #f5f5f5;
    padding-top: 60px;
   
}
}

@media (width <= 390px){
.text{
    background-color:  #f8f8f8;
    padding-top: 46px;
   
}
}

@media (width > 768px){
    .text__container{
        display: none;
    }
}

    .text-block__title{
        font-family: var(--second-family);
    }

@media (width <= 768px){
   .text-block__text{
    padding-bottom: 40px;
    max-width: 610px;
    font-family: var(font-family);
    font-weight: 300;
font-size: 12px;
line-height: 140%;
color: #000;
   }
.text-block__title--lg{
    padding-bottom: 70px;
}
   }

@media (width <= 768px){
.text-block__title--xxs{
    padding-bottom: 20px;
font-size: 26px;
}
}

@media (width <= 390px){
.text-block__title--xxs{
    padding-bottom: 14px;
    font-size: 20px;
}
}

@media (width <= 768px){
.text-block__title--xs{
    padding-bottom: 16px;
     font-size: 22px;
}
}

@media (width <= 390px){
.text-block__title--xs{
    padding-bottom: 12px;
     font-size: 17px;
}
}

@media (width <= 768px){
.text-block__title--sm{
    padding-bottom: 14px;
    font-size: 20px;
}
}

@media (width <= 390px){
.text-block__title--sm{
    padding-bottom: 12px;
    font-size: 17px;
}
}

@media (width <= 768px){
.text-block__title--md{
    padding-bottom: 12px;
     font-size: 16px;
}
}

@media (width <= 390px){
.text-block__title--md{
    padding-bottom: 10px;
     font-size: 16px;
}
}

@media (width <= 768px){
.text-block__title--lg{
    padding-bottom: 10px;
      font-size: 14px;
}
}

@media (width <= 390px){
.text-block__title--lg{
    padding-bottom: 8px;
      font-size: 13px;
}
}

@media (width <= 768px){
.text-block__last{
    padding-bottom: 50px;
}
}

@media (width <= 576px){
.text-block__last{
    padding-bottom: 46px;
}
}