*{
    box-sizing: border-box;
   
   }

body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   } 

.form{
    border: 1.5px solid black;
    border-radius: 6px;
    max-width: 400px;
    width: 100%;
    padding: 30px;
}
.form-group{
    border: none;
    padding: 0;
}

.form-group-title{
font-weight: 700;
padding: 0;
margin-bottom: 16px;
}

label{
    display: block;
    margin-bottom: 5px;
    
}

.textarea{
    max-height: 150px;
    min-height: 25px;
    resize: vertical;
}

.input,textarea{
    border: 1.5px solid black;
     border-radius: 6px;
  width: 100%;
   padding: 5px 12px;
   margin-bottom: 10px;
   outline: none;
}

.checkbox{
    position: absolute;
  appearance: none;
   
    outline: none;
}
.checkbox::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #333;
    border-radius: 4px;
 cursor: pointer;
margin-left: -24px;

}
.checkbox:checked::after{
    background: url(../images/check-icon.svg) no-repeat center, blue;
}
.checkbox-label{
 padding-left: 24px;;
}

.checkbox-text{
    font-size: 14px;
}

.button{
    border: none;
    border-radius: 6px;
    background-color: blue
    color: aliceblue;
    padding: 6px 20px;
     cursor: pointer;
transition: opacity 0.2s;

}
.button:hover{
    opacity: 0.65;
}
.button:active{
    background-color: rgb(17, 6, 138);
}
.button:disabled{
    opacity: 0.6;
}
.input:focus-visible,
.checkbox:focus-visible::after,
.textarea:focus-visible,
.button:focus-visible
{
    outline: 2px solid blue;    
}